html {
	position: relative;
	height: 100%;
	min-width: 1200px;
	min-height: 700px;
}

body {
	width: 100%;
	height: 100%;
}

#what {
	position: absolute;
	left: 5%;
	top: 5%;
	font-family: 'Nunito', sans-serif;
}

#new {
	position: absolute;
	top: 5%;
	right: 5%;
	font-family: 'Nunito', sans-serif;
}

nav ul a {
	text-decoration: none;
	color: black;
}

.console {
	position: relative;
	width: 42%;
	height: 56%;
	top: 34%;
	margin: 0 auto;
	text-align: center;
	background-color: rgb(15,130,245);
	opacity: .8;
	border-radius: 4px;
	font-family: 'Nunito', sans-serif;
}

h1 {
	position: absolute;
	top: 20%;
	min-width: 20%;
	font-size: 2.5em;
	left: 40%;
	text-align: center;
	font-family: 'Nunito', sans-serif;
}

#hot {
	color: rgb(245,15,15);
}

#cold {
	color: rgb(15,245,245);
}

h2 {
	width: 100%;
	height: 12%;
	margin: 5px auto;
	font-size: 1.5em;
	font-family: 'Nunito', sans-serif;
	background-color: rgb(245,130,15);
	line-height: 1.9;
	border-radius: 4px;
}

#userGuess {
	position: relative;
	top: 15px;
	width: 30%;
	height: 40px;
	margin: 0 auto;
	display: block;
	margin-bottom: 5%;
	font-family: 'Nunito', sans-serif;
	border: none;
	border-radius: 2px;
	text-align: center;
}

#guessButton {
	position: relative;
	width: 30%;
	height: 40px;
	margin-bottom: 2%;
	background-color: rgb(15,245,130);
	border: none;
	border-radius: 2px;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	font-size: 1em;
	color: #fff;
}

#guessContainer {
	position: relative;
	top: 25px;
}

.count {
	position: relative;
	display: block;
	font-size: 6em;
	width: 22%;
	height: 140px;
	margin: 0 auto;
	margin-top: 12px;
	background-color: #fff;
	border: 1px solid black;
	line-height: 1.5;
}

.guessList {
	background-color: #fff;
}

#guessBox-left {
	position: absolute;
	width: 10%;
	height: 40%;
	left: 15%;
	bottom: 9.5%;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	border-radius: 0px 0px 0px 4px;
}

#guessBox-right {
	position: absolute;
	width: 10%;
	height: 40%;
	right: 15%;
	bottom: 9.5%;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-radius: 0px 0px 4px 0px;
}

.guessList li {
	position: relative;
	display: inline-block;
	width: 70px;
	height: 70px;
	text-align: center;
	line-height: 4.2;
	background-color: rgb(15,245,130);
	color: #fff;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	border-radius: 50%;
  box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
	background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
	background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);  
	background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
	background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
}

/* --- Modal --- */
.overlay {
	width: 100%;
	height: 100%;
	color: #fff;
	background: rgb(15,245,130);
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	display: none;
}

.content {
	color: #fff;
	background: rgb(245,130,15);
	position: relative;
	height: 65%;
	width: 50%;
	border-radius: 3px;
	top: 15%;
	margin: auto auto;
	border: 1px solid rgba(0,0,0,0.1);
	font-family: 'Nunito', sans-serif;
}

.content h3 {
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.content > div {
	padding: 15px 40px 30px;
	font-weight: 300;
	font-size: 1.15em;
	text-align: center;
}

.content > div p {
	padding: 10px 0;
	line-height: 2em;
	text-align: justify;
}

.content > div ul {
	margin-bottom: -30px;
	padding: 0 0 30px 20px;
	text-align: left;
}

.content > div ul li {
	padding: 5px 0;
	display: block;	
	line-height: 1.5em;
}

.content > div ul li strong{
	text-decoration: underline;
}

.content > div a {
	font-size: 0.8em;
	background: rgb(15,130,245);
	color: #fff;
	padding: 0.5em 2em;
	margin-bottom: 50px;
	border-radius: 3px;
	text-decoration: none;
}

/**  MOBILE LAYOUT  (portrait and landscape) **/
@media only screen and (max-width: 480px) {

	body {
		height: 60%;
	}

}